@import './variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: #f6f6f6 !important;
}

.paginator {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  padding: 0;
  margin: 0;

  .page-item:not(.disabled) {
    cursor: pointer;
  }
}
